<section class="main-page">
    <aside class="main-page-menu">
        <ul class="main-page-menu-list">
            <li>
                <a
                    [routerLink]="'/main/about'"
                    [queryParams]="{ userId: userId }">
                    About
                </a>
            </li>
            <li><a>Some example </a></li>
            <li><a>Some other example</a></li>
            <li><a>Shorter One </a></li>
            <li><a>And some more</a></li>
        </ul>
    </aside>
    <section class="main-page-content">
        <div class="main-page-content-container">
            <router-outlet></router-outlet>
        </div>
    </section>
</section>
