<nav class="navpanel">
    <ul class="navpanel-container">
        <li class="navpanel-element">
            <a
                href="javascript:void(0)"
                [routerLink]="'/main'"
                [queryParams]="{ userId: userId }">
                E-Nure
            </a>
        </li>
        <li class="navpanel-separator"></li>
        <li class="navpanel-element">
            <a
                href="javascript:void(0)"
                [routerLink]="'/main'"
                [queryParams]="{ userId: userId }">
                Main
            </a>
        </li>
        <li class="navpanel-spacer">
        </li>
        <li
            class="navpanel-element"
            *ngIf="permissions.isUserViewPermitted">
            <a
                href="javascript:void(0)">
                Users List
            </a>
        </li>
        <li
            class="navpanel-separator"
            *ngIf="permissions.isUserViewPermitted">
        </li>
        <li
            class="navpanel-element"
            *ngIf="permissions.isUserRegisterPermitted">
            <a
                href="javascript:void(0)"
                [routerLink]="'/sign-up'"
                [queryParams]="{ userId: userId }">
                Register User
            </a>
        </li>
        <li
            class="navpanel-separator"
            *ngIf="permissions.isUserRegisterPermitted">
        </li>
        <li
            class="navpanel-element"
            *ngIf="!permissions.isSignedIn">
            <a
                href="javascript:void(0)"
                [routerLink]="'/log-in'"
                [queryParams]="{ userId: userId }">
                Log In
            </a>
        </li>
        <li
            class="navpanel-usersection"
            *ngIf="userId && userId !== 'guest' && userData">
            <app-profile-picture
                [user]="user"
                [picturePath]="userData.profilePicturePath">
            </app-profile-picture>
            <a
                href="javascript:void(0)"
                [routerLink]="'/user-profile'"
                [queryParams]="{ userId: userId }">
                <div class="navpanel-usersection-data">
                    <span class="navpanel-usersection-data-main">
                        {{ user.userFirstName + ' ' + user.userLastName }}
                    </span>
                    <span
                        *ngIf="userTypes.length"
                        class="navpanel-usersection-data-sub">
                        {{ getUserTypeText(user.userTypeId) }}
                    </span>
                </div>
            </a>
        </li>
    </ul>
</nav>
