<section *ngIf="mode === 'logIn'">
    <form title="Log in">
        <label
            for="userName"
            title="User Name"
        >User Name</label>
        <input
            id="userName"
            name="userName"
            type="text"
            [(ngModel)]="userData.login"
        >
        <label
            for="userPass"
            title="User Password"
        >Password</label>
        <input
            id="userPass"
            name="userPass"
            type="password"
            [(ngModel)]="userData.pass"
        >
        <label
            for="rememberMe"
            title="Will save user data"
        >Remember me</label>
        <input
            id="rememberMe"
            name="rememberMe"
            type="checkbox"
            [(ngModel)]="rememberMe"
        >
        <button (click)="submit()">Log In</button>
    </form>
</section>
<section *ngIf="mode !== 'logIn'">
    <div>
        <button title="Log out from your account">Log Out</button>
    </div>
    <div>
        <div *ngIf="userStatuses">
            <span>User status:</span>
            <span>{{ userStatuses.find(userStatusMatcher).status }}</span>
        </div>
        <button title="Ban current user">Ban user</button>
    </div>
    <form title="User Information">
        <div>
            <img [src]="userData.profilePicturePath" alt="User Avatar">
            <button title="Choose new profile picture">Choose new Avatar</button>
            <div>
                <label
                    for="userName"
                    title="User Name"
                >User Name</label>
                <input
                    id="userName"
                    name="userName"
                    type="text"
                    [(ngModel)]="userData.login"
                >
                <label
                    for="userPass"
                    title="User Password"
                >Password</label>
                <input
                    id="userPass"
                    name="userPass"
                    type="password"
                    [(ngModel)]="userData.pass"
                >
                <button title="Change user login and password">Save new Credentials</button>
            </div>
        </div>
        <div>
            <button title="Generate new user Token">Regenerate User Token</button>
            <label
                for="userFirstName"
                title="User first name"
            >First name</label>
            <input
                id="userFirstName"
                name="userFirstName"
                type="text"
                [(ngModel)]="user.userFirstName"
            >
            <label
                for="userLastName"
                title="User last name"
            >Last name</label>
            <input
                id="userLastName"
                name="userLastName"
                type="text"
                [(ngModel)]="user.userLastName"
            >
            <label
                for="userPatronymic"
                title="User patronymic"
            >Patronymic</label>
            <input
                id="userPatronymic"
                name="userPatronymic"
                type="text"
                [(ngModel)]="user.userPatronymic"
            >
            <label
                for="userPhoneNumber"
                title="User phone number"
            >Phone number</label>
            <input
                id="userPhoneNumber"
                name="userPhoneNumber"
                type="tel"
                [(ngModel)]="user.userPhoneNumber"
            >
            <label
                for="userSPhoneNumber"
                title="User additional phone number"
            >Additional phone number</label>
            <input
                id="userSPhoneNumber"
                name="userSPhoneNumber"
                type="tel"
                [(ngModel)]="user.userSPhoneNumber"
            >
            <label
                for="userEmail"
                title="User Email"
            >Email</label>
            <input
                id="userEmail"
                name="userEmail"
                type="email"
                [(ngModel)]="user.userEmail"
            >
            <label
                for="userSEmail"
                title="User additional Email"
            >Additional Email</label>
            <input
                id="userSEmail"
                name="userSEmail"
                type="email"
                [(ngModel)]="user.userSEmail"
            >
            <label
                for="userBirthDate"
                title="User birth date"
            >Birthday</label>
            <input
                id="userBirthDate"
                name="userBirthDate"
                type="text"
                [ngModel]="user.userBirthDate"
            >
            <label
                for="userType"
                title="Select user type"
            >Admin</label>
            <input
                id="userType"
                name="userType"
                type="checkbox"
                [(ngModel)]="isAdmin"
            >
            <button
                title="Save new User Data"
                (click)="submit()"
            >Save</button>
        </div>
    </form>
</section>
