<section
    *ngIf="mode === 'logIn'"
    class="user-page-section">
    <form
        title="Log in"
        class="user-page-sign-in-form">
        <h2 class="flex-grow-1">Log In</h2>
        <div class="input-group flex-row user-page-form-input">
            <div class="input-group-prepend flex-grow-0">
                <span
                    class="input-group-text"
                    id="user-name-wrapping">
                    Username:
                </span>
            </div>
            <input
                name="user-name"
                type="text"
                class="form-control flex-grow-1"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="user-name-wrapping"
                [(ngModel)]="userData.login">
        </div>
        <div class="input-group flex-row user-page-form-input">
            <div class="input-group-prepend flex-grow-0">
                <span
                    class="input-group-text"
                    id="passwor-wrapping">
                    Password:
                </span>
            </div>
            <input
                name="user-password"
                type="password"
                class="form-control flex-grow-1"
                aria-label="Password"
                aria-describedby="passwor-wrapping"
                [(ngModel)]="userData.pass">
        </div>
        <div class="flex-row user-page-form-input">
            <span>
                Remember me &nbsp;
            </span>
            <input
                name="remember-me"
                type="checkbox"
                aria-label="Remember me checkbox"
                [(ngModel)]="rememberMe">
        </div>
        <button
            class="btn btn-primary user-page-form-input"
            (click)="submit()">
            Submit
        </button>
    </form>
</section>
<section
    *ngIf="mode !== 'logIn'"
    class="user-page-section">
    <div class="user-page-quick-actions">
        <div *ngIf="mode === 'viewAndUpdate'">
            <button
                class="btn btn-danger"
                title="Log out from your account"
                (click)="logOut()">
            Log Out
            </button>
        </div>
        <div *ngIf="userStatuses && userStatuses.length && user && user.userStatusId">
            <span>User status:&nbsp;</span>
            <span>{{ getUserStatus(user.userStatusId) }}</span>
        </div>
        <button
            class="btn btn-danger"
            title="Doesn't work for now"
            [disabled]="true"
            *ngIf="isAdmin">
            Ban user
        </button>
    </div>
    <form
        title="User Information"
        class="user-page-form">
        <div class="flex-row user-page-form-top-section">
            <div class="flex-col flex-grow-1">
                <app-profile-picture
                    class="user-page-form-input"
                    [picturePath]="userData.profilePicturePath"
                    [user]="user"
                    [sizeInRems]="5">
                </app-profile-picture>
                <button
                    class="btn btn-light user-page-form-input"
                    title="Doesn't work for now"
                    [disabled]="true">
                    set Avatar
                </button>
            </div>
            <div class="flex-col flex-grow-1">
                <div class="input-group flex-row user-page-form-input">
                    <div class="input-group-prepend flex-grow-0">
                        <span
                            class="input-group-text"
                            id="user-name-wrapping">
                            Username:
                        </span>
                    </div>
                    <input
                        name="user-name"
                        type="text"
                        class="form-control flex-grow-1"
                        placeholder="Username"
                        aria-label="Username"
                        aria-describedby="user-name-wrapping"
                        [(ngModel)]="userData.login">
                </div>
                <div class="input-group flex-row">
                    <div class="input-group-prepend flex-grow-0">
                        <span
                            class="input-group-text"
                            id="passwor-wrapping">
                            Password:
                        </span>
                    </div>
                    <input
                        name="user-password"
                        type="password"
                        class="form-control flex-grow-1"
                        aria-label="Password"
                        aria-describedby="passwor-wrapping"
                        [(ngModel)]="pass"
                        (ngModelChange)="passChanged(pass)">
                </div>
                <button
                    class="btn btn-light"
                    title="Doesn't work for now"
                    [disabled]="true"
                    style="margin-top: 0.7rem;">
                    Regenerate User Token
                </button>
            </div>
        </div>
        <div class="user-page-form-bottom-section">
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User first name">
                        First name*
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userFirstName"
                    type="text"
                    [(ngModel)]="user.userFirstName">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User last name">
                        Last name*
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userLastName"
                    type="text"
                    [(ngModel)]="user.userLastName">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User patronymic">
                        Patronymic*
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userPatronymic"
                    type="text"
                    [(ngModel)]="user.userPatronymic">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User phone number">
                        Phone number*
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userPhoneNumber"
                    type="tel"
                    [(ngModel)]="user.userPhoneNumber">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User additional phone number">
                        Additional number
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userSPhoneNumber"
                    type="tel"
                    [(ngModel)]="user.userSPhoneNumber">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User Email">
                        Email*
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userEmail"
                    type="email"
                    [(ngModel)]="user.userEmail">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User additional Email">
                        Additional Email
                    </span>
                </div>
                <input
                    class="form-control flex-grow-1"
                    name="userSEmail"
                    type="email"
                    [(ngModel)]="user.userSEmail">
            </div>
            <div class="input-group input-group-sm mb-3 flex-row user-page-form-input-sm">
                <div class="input-group-prepend flex-grow-0">
                    <span
                        class="input-group-text"
                        title="User birth date">
                        Birthday*
                    </span>
                </div>
                <input
                    [disabled]="true"
                    class="form-control flex-grow-1"
                    name="userBirthDate"
                    type="text"
                    [ngModel]="user.userBirthDate">
                <span class="flex-grow-1 text-n-important" style="margin-left: 1rem;">
                    *type dates as: year-month-day'
                </span>
            </div>
            <div *ngIf="isAdmin" class="flex-row user-page-form-input-sm">
                <span title="Select user type">Admin:&nbsp;</span>
                <input
                    id="userType"
                    name="userType"
                    type="checkbox"
                    [(ngModel)]="isAdmin">
            </div>
            <div class="flex-row user-page-form-input">
                <button
                    class="flex-grow-1 btn btn-primary"
                    title="Save new User Data"
                    (click)="submit()">
                    Save Profile
                </button>
            </div>
        </div>
    </form>
</section>
