@import '../../../main.constants.scss';

.user-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: normal;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}